<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor cuentas</h1>
      <template is="dom-repeat" items="{{accounts}}">
          <h3>IBAN -{{item.IBAN}}</h3>
          <h3>Saldo -{{item.balance}}</h3>
      </template>
      <!--h1 class="col-md-12">Visor cuentas</h1>
      <h2 class="col-md-5">Mi IBAN es {{IBAN}}</h2>
      <h2 class="col-md-5">con saldo {{balance}} {{currency}}</h2-->

    </div>
    <iron-ajax
      auto=""
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts/"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          userid:{
            type: Number
          },
          accounts:{
            type: Array
          }
        };
      }

    showData (data){
      //console.log(data);
      //siempre devuelve un array
      console.log(data.detail.response);
      this.accounts = data.detail.response;
    }
  }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
