<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h2 class="col-md-12">Login usuario</h2>
    </div>
    <div class="col-md-10">
      <input type="email" placeholder="Email" value="{{email::input}}"/>
    </div>
    <div class="col-md-10">
      <input type="password" placeholder="Password" value="{{password::input}}"/>
    </div>
    <button class="btn btn-success" on-click="login">login</button>
    <span hidden$="{{!isLogged}}">Si esto sale nos podemos ir</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

    <iron-ajax
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponseLogout"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email:{
            type: String
          },
          password:{
            type: String
          },
          isLogged:{
            type: Boolean,
            value: false
          },
          id:{
            type:Number
          }
        };
      }

    login(){
      console.log("todo ok");
      var loginData = {
        "email": this.email,
        "password": this.password
      };
      console.log(this.email);
      console.log(this.password);
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log("petición enviada")
    }

    logout(){
      console.log("todo ok");
      var loginData = {
        "id": this.id
      };
      console.log(this.email);
      console.log(this.password);
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log("petición enviada")
    }

    manageAJAXResponse (data){
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      window.location = "/user/" +  data.detail.response.id;
      //this.isLogged=true;
    }

    showError (error){
      console.log("Hubo error");
      console.log(error);
    }
  }
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
