<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor usuario</h1>
      <h2 class="col-md-5">Soy {{first_name}} {{last_name}}!</h2>
      <h2 class="col-md-5">y mi email es {{email}}</h2>
      <!--input type="text" value="{{first_name::input}}"/>
      <input type="text" value="{{last_name::input}}"/>
      <input type="range" min="18" value={{age::input}} max="70"/-->
      <button class="btn btn-link"><a href ="/user/{{id}}/accounts">Ver mis cuentas</a></button>
    </div>
    <iron-ajax
      auto=""
      id="getUser"
      url="http://localhost:3000/apitechu/v2/users/{{id}}"
      handle-as="json"
      on-response="showData">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name:{
            Type: String
          },
          last_name:{
            Type: String
          },
          id:{
            Type: Number
          },
          email:{
            Type: String
          }
        };
      }

    showData (data){
      //console.log(data);
      //siempre devuelve un array
      console.log("Recibidos datos del usuario");
      var usuarios = data.detail.response;
      if (usuarios!=null && usuarios.length>0)
      {
        var usuario = usuarios[0];
        console.log(usuario.id);
        console.log(usuario.first_name);
        console.log(usuario.last_name);
        console.log(usuario.email);
        this.id= usuario.id;
        this.first_name=usuario.first_name;
        this.last_name=usuario.last_name;
        this.email=usuario.email;
      }
    }
  }
    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
