<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">

<dom-module id="gestor-evento">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <h1>Yo soy el gestor</h1>
   <!-- para procesar el evento creado en el componente emisor-evento, usamos el on-myevent, puesto que el elemeno que hemos definido
   en el componente se llama myevent, si se llamara myevent2, aquie tendríamos que hacer un on-myevent2, y definimos una función para procesar dicho evento -->
   <emisor-evento on-myevent="processEvent"></emisor-evento>
   <receptor-evento id="receiver"></receptor-evento>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorEvento extends Polymer.GestureEventListeners(Polymer.Element){
     static get is() { return 'gestor-evento'; }
     static get properties() {
       return {
       };
     }

     processEvent(e){
       console.log("capturado evento del emisor");
       console.log(e.detail);
       console.log(e.detail.course);
       console.log(e.detail.year);
       //Podemos acceder a un método
       //this.$.receiver.showData(e.detail);
       
       //También se puede acceder directamente a las propiedades
       this.$.receiver.course = e.detail.course;
       this.$.receiver.year = e.detail.year;
     }
   }



   window.customElements.define(GestorEvento.is, GestorEvento);
 </script>
</dom-module>
